/* Ensuring consistency between all browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  The following blocks are for styling the navigation bar */
ul {
    display: flex;
    list-style-type: none;
    padding: .5em;
    justify-content: end;
    margin: 0;
}
li {
    font-size: 1.2em;
    padding: .5em;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    color: red;
}
nav {
    background-color: gray;
}
/* For landing page */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: url('path-to-your-image.jpg') no-repeat center center/cover; */
    text-align: center;
    color: white;
    padding-top: 60px; /* Adjust based on header height */
}