/* Ensuring consistency between all browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  The following blocks are for styling the navigation bar */
ul {
    border: 2px solid rebeccapurple;
    display: flex;
    list-style-type: none;
    padding: .5em;
    justify-content: end;
    margin: 0;
}
li {
    border: 2px solid blue;
    font-size: 1.2em;
    padding: .5em;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: red;
}