/* basic CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/*  for styling the navigation bar */
ul {
    display: flex;
    list-style-type: none;
    padding: .5em;
    justify-content: end;
    margin: 0;
}
li {
    font-size: 1.2em;
    padding: .5em;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    color: red;
}
nav {
    background-color: gray;
}

/* styling for pfp & quote */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 2em;
}
.home-content {
    text-align: center;
}
.pfp {
    border-radius: 50%;
    height: auto;
    max-width: 100%;
    width: 35%;
    margin: 0 auto;
}
/* end of page */
footer {
    margin-bottom: 0;
    background-color: gray;
}
.contact {
    padding: 15px;
}